.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-logo img {
    width: 130px;
    height: auto;
    margin-left: 25px;
}

.header-menu {
    display: flex;
    margin: 0 100px 0 0;
}

.header-menu li {
    margin: 0 10px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}