.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-logo img {
    width: 130px;
    height: auto;
    margin-left: 25px;
}

.header-menu {
    display: flex;
    margin: 0 100px 0 0;
}

.header-menu a {
    margin: 0 10px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.active {
  margin-right: 0 !important;
}

.menuMobileImg {
  margin: 2em;
}

.menuMobile {
  position: absolute;
  background-color: #ffffff;
  width: 200px;
  padding: 30px;
  top: 0;
  right: 0;
  height: 100vh;
  margin-right: -50vw;
  transition: margin .5s ease;
}

.menuMobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuMobile li {
  margin: 15px 0;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .header-menu {
    display: none;
  }
}
  
@media screen and (min-width: 601px) {
  .menuMobile, .menuMobileImg {
    display: none;
  }
}