@import url('../../styles/fonte.css');

.PlataformaHeader {
    display: flex;
    align-items: center;
}

.PlataformaHeaderlogo {
    width: 20vh;
    margin: 2em 2em 2em 2em;
}

.PlataformaHeaderlogo img {
    width: 100%;
    height: 100%;
}

.PlataformaTitulo {
    margin-left: 3em;
    font-weight: bold;
    width: 88.5vh;
    font-size: 20px;
}

.PlataformaMain {
    display: flex;
    overflow-x: hidden;
}

.PlataformaBarraLateral {
    width: 15vw;
    background-color: #fff;
    border: 1px solid #000000;
    border-left: 0px;
    border-bottom: 0px;
}

.PlataformaBarraLateralVideos a {
    cursor: pointer;
}

.PlataformaBarraLateralVideos a:hover {
    color: #2093BF;
}

.PlataformaBarraLateralVideos {
    display: flex;
    align-items: center;
    margin: 2em;
    font-weight: bold;
}

.PlataformaBarraLateralVideos p {
    margin-left: 9px;
    font-size: 12px;
}

.PlataformaVideo {
    width: 85vw;
}

.PlataformaVideoIframe {
    background-image: linear-gradient(to bottom, #2093BF, #FFFFFF);
    text-align: center;
    width: 100%;
}

.PlataformaVideoIframe iframe {
    width: 90%;
    margin: 2em;
    height: 58vh;
}

.PlataformaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}

.PlataformaVideoNav {
    margin: 0 20px 0 20px;
    justify-content: center;
    width: 100vw;
}

.PlataformaVideoNav hr {
    margin: 0 0 20px 0;
    border: 1px solid #000;
}

.PlataformaVideoTranscrito {
    font-size: 15px;
    padding: 2em;
    height: 700px;
    line-height: 2em;
    border: 2px solid #000;
    background-color: #fff;
    text-align: justify;
    overflow: auto;
}

.PlataformaVideoTranscrito h3 {
    text-align: center;
    margin-bottom: 15px;
}

.Desactived {
    display: none;
}